# Composer
composer.lock
vendor/

# PHP Coding Standards Fixer
.php-cs-fixer.php
.php-cs-fixer.cache

# PHPUnit
phpunit.xml
.phpunit.result.cache

# Tests
tests/Fixtures/config/reference.php
tests/Fixtures/.var/
