name: "coding standards"

on:
    pull_request: ~
    push: ~
    schedule:
        # Do not make it the first of the month and/or midnight since it is a very busy time
        - cron: "* 10 5 * *"

jobs:
    coding-standards:
        name: "coding standards"
        runs-on: "ubuntu-latest"
        steps:
            - name: "checkout"
              uses: "actions/checkout@v4"

            - name: "setup php"
              uses: "shivammathur/setup-php@v2"
              with:
                php-version: "8.5"
                tools: "composer"

            - name: "install composer dependencies"
              uses: "ramsey/composer-install@v3"
              env:
                COMPOSER_PREFER_STABLE: 1

            - name: "check coding standards"
              run: "vendor/bin/php-cs-fixer fix --dry-run --diff --ansi"
