name: "unit tests"

on:
    pull_request: ~
    push: ~
    schedule:
        # Do not make it the first of the month and/or midnight since it is a very busy time
        - cron: "* 10 5 * *"

jobs:
    tests:
        runs-on: "ubuntu-latest"
        continue-on-error: "${{ matrix.can-fail }}"
        strategy:
            fail-fast: false
            matrix:
                php: ["8.1", "8.2", "8.3", "8.4"]
                symfony: ["6.4.*", "7.3.*", "7.4.*", "8.0.*"]
                doctrine-orm: ["^2.14", "^3.0"]
                dependency-versions: ["highest"]
                composer-stable: ["1"]
                can-fail: [false]
                include:
                    - php: "8.1"
                      symfony: "6.4.*"
                      doctrine-orm: "^2.14"
                      dependency-versions: "lowest"
                      composer-stable: "1"
                      can-fail: false
                    - php: "8.4"
                      symfony: "8.0.*"
                      doctrine-orm: "^3.0"
                      composer-flags: ''
                      can-fail: true
                exclude:
                    - php: "8.1"
                      symfony: "7.3.*"
                    - php: "8.1"
                      symfony: "7.4.*"
                    - php: "8.1"
                      symfony: "8.0.*"
                    - php: "8.2"
                      symfony: "8.0.*"
                    - php: "8.3"
                      symfony: "8.0.*"
                    - doctrine-orm: "^2.14"
                      symfony: "8.0.*"

        name: "PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }} - Doctrine ORM ${{ matrix.doctrine-orm }} - Composer ${{ matrix.dependency-versions }}"

        steps:
            - name: "checkout"
              uses: "actions/checkout@v4"

            - name: "setup php"
              uses: "shivammathur/setup-php@v2"
              with:
                php-version: "${{ matrix.php }}"
                tools: "composer, flex"

            - name: "enable Symfony Flex plugin"
              run: "composer global config --no-interaction allow-plugins.symfony/flex true"

            - name: "require specific Doctrine ORM version"
              env:
                SYMFONY_REQUIRE: "${{ matrix.symfony }}"
                COMPOSER_PREFER_STABLE: "${{ matrix.composer-stable }}"
              run: "composer require --no-scripts --no-install --dev doctrine/orm:${{ matrix.doctrine-orm }} --ansi"

            - name: "install composer dependencies"
              uses: "ramsey/composer-install@v3"
              env:
                SYMFONY_REQUIRE: "${{ matrix.symfony }}"
                COMPOSER_PREFER_STABLE: "${{ matrix.composer-stable }}"
              with:
                dependency-versions: "${{ matrix.dependency-versions }}"

            - name: "run unit tests"
              run: "vendor/bin/simple-phpunit --colors=always"
